*{
  font-family: sans-serif;
}
body{
     background-image: url(images/gradient-bg.png);
     background-repeat: no-repeat;
     background-size: auto;
     margin: 0;
}
h2{
  background:radial-gradient(rgb(41, 8, 255),rgb(241, 47, 235));
  color: transparent;
  background-clip: text;
  font-size: 28px;

}
.result{
  margin-top: 100px; 
  display: flexbox;
  padding: 5px;
  border: none;
  border-radius: 12px;
  width: 450px;
  box-shadow: 0px 0px 5px rgb(20, 124, 176);
  transition-duration: 0.15s;
}
.result:hover{
  box-shadow: 0px 0px 25px rgb(20, 124, 176);
}
.rst{
  background-color: rgb(39, 130, 203);
  font-size: large;
  color:white;
  border: none;
  padding: 8px;
  border-radius: 4px;
}

.btns{
  position: absolute;
  left: 10px;
  right: 10px;
}

button:hover{
  box-shadow: 0px 0px 10px rgb(255, 255, 39);
  padding:7px;
}

button:active{
  box-shadow: 0px 0px 15px rgb(0, 157, 24);
  padding:7px;
}

.rock-btn,.scissor-btn,.paper-btn{
  border: none;
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 50px;
  cursor: pointer;
  transition-duration: 0.15s;
}
.rock-btn:hover,.scissor-btn:hover,.paper-btn:hover{
  width: 120px;
  height: 120px;
}
.rock-btn{
  background-image: url(images/rock.png);
}
.paper-btn{
  background-image: url(images/paper.png);  
}
.scissor-btn{
  background-image: url(images/scissor.png);
}
.user-img{
  width: 90px;
  height: 90px;
  vertical-align: middle;
  border-radius: 45px;
}

.msg{
  font-weight: bolder;
  font-size: 20px;
  font-family: cursive;
}

.msg1{
  font-size: large;
  font-weight: bold;
}
span{
  font-weight: bolder;
  font-size: large;
}